{% macro list(cards, shuffle=true) %}
  {% set cards = cards | shuffle if shuffle else cards %}
  {% for card in cards %}
    {% set type = 'caption' if card.data.tags else none %}
    {% set type = 'full' if card.data.image else type %}
    <article id="card-{{ loop.index }}" data-card="{{ type }}" data-tags="{{ card.data.tags | join(' ') if card.data.tags else none }}">
      {% if card.data.iframe %}
        <iframe data-content="embed" src="{{ card.data.iframe }}" width="{{ card.data.width }}" height="{{ card.data.height }}" scrolling="no" frameborder="no"></iframe>
      {% elif card.data.image %}
        <figure data-content="image">
          {% image card.data.image, card.data.alt %}
        </figure>
      {% else %}
        <div data-content>{{ card.content | md | safe }}</div>
      {% endif %}

      {% if card.data.tags %}
        <footer data-caption>
          {% for tag in card.data.tags %}
            <button data-tag="{{ tag }}">
              #{{ tag }}
            </button>
          {% endfor %}
        </footer>
      {% endif %}
    </article>
  {% endfor %}
{% endmacro %}

{% macro controls() %}
  <div id="controls">
    <button data-btn="shuffle">↺ shuffle again</button>
    <button data-toggle="column" data-yes="☰" data-no="☷">single column</button>
    <button data-toggle="align" data-yes="⚌" data-no="☓">align</button>
    <p class="info">
      <em>(pre-shuffled for your convenience)</em>
    </p>
  </div>
{% endmacro %}
