<aside data-ccs="menu">
  <div class="radio-group">
    {% for option in ['light', 'dark', 'auto'] %}
      <div class="radio-option" data-ccs-colors="{{ option }}">
        <input type="radio" name="drone" data-ccs-input="{{ option }}-mode" id="{{ option }}-mode" {% if option == 'auto' %}checked{% endif %}>
        <label for="{{ option }}-mode" class="radio-btn">{{ option }}</label>
      </div>
    {% endfor %}
  </div>

  <label data-ccs-field="lightness" for="lightness">
    <span data-label="">lightness:</span>
    <input id="lightness" type="range" min="25" max="75" value="{{ ccs.lightness }}" data-ccs-input="lightness">
  </label>

  <label data-ccs-field="contrast" for="contrast">
    <span data-label="">contrast:</span>
    <input id="contrast" type="range" min="15" max="75" value="{{ ccs.contrast }}" data-ccs-input="contrast">
  </label>
</aside>
