{% include "colors.njk" %}

<div class="legal">
{% mdInline %}
<strong>{{ book.title }}</strong> © {{ book.year }}--{% year %} \
[{{ book.author.name }}]({{ book.author.url }}) |
[_some rights reserved_]({{ book.license.url }}) \
Published by [{{ book.publisher.name }}]({{ book.publisher.url }}) \
[Adapted for stage](https://www.miriamsuzanne.com/theater/10myths/)
by [Buntport Theater](https://buntport.com/2016/03/10-myths-proper-application-beauty-products/)
& [Teacup Gorilla](http://teacupgorilla.com)
{% endmdInline %}
</div>
