{% include "header.njk" %}

<main data-cards>
  <section id="card:summary">Summary</section>
  <section id="card:sample-a">Sample A</section>
  <section id="card:video">Video</section>
  <section id="card:sample-b">Sample B</section>
  <section id="card:album">Holes They Leave</section>
  <section id="card:sample-c">Sample C</section>
  <section id="card:10myths">10 Myths</section>
</main>
