<!DOCTYPE html>
<html lang="en"
  {% block htmlAttrs %}
  data-ccs="root"
  data-ccs-theme="sidesaddle"
  data-ccs-colors
  {% endblock %}>
<head>
  <meta charset="UTF-8">
  <meta name="description" content="OddBird presentation slide decks and demos">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    {{ [title, '|'] | join(' ') if title else '' }}
    {{ book.title }}
  </title>

  {% for style in site.styles | concat(styles or []) %}
    {% set style = style if ('.css' in style) else [assets.css, style, '.css'] | join %}
    <link rel="stylesheet" href="{{ style }}">
  {% endfor %}
</head>
<body data-body="{{ layout or 'base' }}">
{% block body %}
  {{ content | safe }}
{% endblock %}

{% include "colors.njk" %}

<footer>
{% include "footer.njk" %}
</footer>

{% for script in site.scripts | concat(scripts or [])  %}
  {% set script = script if ('.js' in script) else [assets.js, script, '.js'] | join %}
  <script type="text/javascript" src="{{ script }}"></script>
{% endfor %}
</body>
</html>
