@use 'sass:color';

html {
  --contrast-dark: #111;
  --contrast-light: #eee;
  --brand: maroon;
  --dark: #{color.mix(maroon, #111)};
  --light: #{color.mix(maroon, #eee)};

  --text: var(--contrast-dark);
  --background: var(--contrast-light);
  --accent: var(--brand);

  @media (prefers-color-scheme: dark) {
    --text: var(--contrast-light);
    --background: var(--contrast-dark);
    --accent: var(--light);
  }

  background: var(--background);
  color: var(--text);
}

a {
  color: var(--accent);
}
