$bg: var(--ccs-neutral--bg-full);
$callout: var(--ccs-neutral--bg5);
$overlay: var(--ccs-neutral--bg5-fade);

$text: var(--ccs-neutral--fg5);
$text-light: var(--ccs-neutral--fg3);
$text-highlight: var(--ccs-prime--fg3);

$border: var(--ccs-neutral--fg1);
$border-light: var(--ccs-neutral);
$shadow: hsla(
  var(--ccs-h--neutral),
  var(--ccs-s--neutral),
  var(--shadow-l, var(--ccs-l--fg6)),
  0.5
);

$card-table: hsl(
  var(--ccs-h--neutral),
  var(--ccs-s--neutral),
  var(--card-table-l, var(--ccs-l--bg5))
);
$card: hsl(
  var(--ccs-h--neutral),
  var(--ccs-s--neutral),
  var(--card-l, var(--ccs-l--bg6))
);

$range-light: hsl(
  var(--ccs-h--neutral),
  var(--ccs-s--neutral),
  var(--lighter-l, var(--ccs-l--bg5))
);
$range-dark: hsl(
  var(--ccs-h--neutral),
  var(--ccs-s--neutral),
  var(--darker-l, var(--ccs-l--fg5))
);

$btn: var(--ccs-prime--bg5);

$action: var(--ccs-prime--fg1);
$action-fade: var(--ccs-prime--fg2-fade);
$action-hover: var(--ccs-prime--fg2);

$ccs-background: var(--bg);
$ccs-color: var(--text);

$svg-pen: var(--text-light);
$svg-pencil: var(--ccs-neutral--fg1-fade);
$svg-color: var(--ccs-prime--bg1);
